.flexcol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.flexwrap {
  flex-wrap: wrap;
}
.flexcenter {
  justify-content: center;
}
.flexbetween {
  justify-content: space-between;
}
.flexstart {
  justify-content: flex-start;
}
.flexend {
  justify-content: flex-end;
}
.flexchildrenstart {
  align-items: flex-start;
}
.flexchildrenend {
  align-items: flex-end;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
