// Color variables (appears count calculates by raw css)
@color0: #010709; // Appears 5 times
@color1: #021017; // Appears 4 times
@color2: #1182bb; // Appears 2 times
@color3: #0ac247; // Appears 2 times
@color4: #df2920; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 900px; // Appears 4 times
@width4: 100%; // Appears 7 times

// Height variables (appears count calculates by raw css)
@height1: 900px; // Appears 4 times
@height3: 100%; // Appears 5 times
@height4: 60px; // Appears 2 times

/*
// Fontses
$text-font: 'Annie Use Your Telescope', 'Comic Sans MS', serif
$numbers-font: 'Cormorant Garamond', 'Comic Sans MS', serif

// Colorses
$win-green: hsla(140, 90%, 40%, 1)
$lose-red: hsla(3, 75%, 50%, 1)
$blue-02: hsla(200, 83%, 2%, 1)
$blue-05: hsla(200, 83%, 5%, 1)
$blue-08: hsla(200, 83%, 8%, 1)
$blue-11: hsla(200, 83%, 11%, 1)
$blue-15: hsla(200, 83%, 15%, 1)
$blue-20: hsla(200, 83%, 20%, 1)
$blue-30: hsla(200, 83%, 30%, 1)
$blue-40: hsla(200, 83%, 40%, 1)
$blue-50: hsla(200, 83%, 50%, 1)

$win-color: $win-green
$lose-color: $lose-red
$background-color: $blue-05
$container-color: $blue-02
$btn-primary-color: white
$btn-secondary-color: $blue-05
$text-color: white
$progression-bars-color: $blue-40
$primes-color: $blue-08
$primes-selected-color: $blue-02

// Otherses
$main-size: 900px
$main-font-size: 4rem
$outline-thick: solid 2px white
$outline-faint: solid 1px rgba(255, 255, 255, 0.3)
$outline-faintest: solid 0.5px rgba(255, 255, 255, 0.1)
*/

* {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

html,
body {
	height: @height3;
	margin: 0;
	min-height: @height1;
	min-width: @width1;
	width: @width4;
}
body {
	background: @color1;
	position: relative;
	
	&.frozen {
		overflow-y: hidden;
	}
}
h1, h2, p, p::after {
	color: white;
}
p {
	font-family: "Annie Use Your Telescope", "Comic Sans MS", serif;
	margin: 0;
	text-align: center;
	user-select: none;
}
.btn {
	background: @color1;
	font-family: "Annie Use Your Telescope", "Comic Sans MS", serif;
	font-weight: 500;
	border: solid 2px white;
	width: 180px;
	font-size: 1.2rem;
	padding: 1rem .3rem;
	line-height: 1.2rem;
	color: white;
	cursor: pointer;
	
	&:not(.inactive):hover {
		background: white;
		color: @color1;
	}
	&.inactive {
		cursor: default;
		opacity: 0.2;
	}
}
.btn-container {
	display: flex;
	justify-content: center;
}
.square-btn {
	font-family: Arial, sans-serif;
	font-size: 2rem;
	width: 40px;
}
.flexrow {
	display: flex;
	flex-flow: row;
}
.flexcol {
	display: flex;
	flex-flow: column;
}
.flexcenter {
	align-items: center;
}

section.template {
	display: none;
	
	#screen-overlay & {
		display: inherit;
	}
}

#screen-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: @color1;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	
	&.hidden {
		display: none;
	}
}

#landing-template {
	height: 100%;
	width: 100%;
	
	#landing-content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		
		p.tap-to-play {
			font-size: 1.5rem;
			animation: shine 1s alternate infinite;
		}
	}
}
#menu-template {
	padding: 30px 0 60px;
	
	.menu-buttons .btn {
		margin: 5px 0;
	}
	
	#submenu-mode-selector {
		margin: 1em;
		
		#mode-change-buttons {
			justify-content: center;
			cursor: pointer;
		}
		
		p {
			font-size: 1.7rem;
			padding: 1rem .3rem;
		}
	}
	.submenu.hidden {
		display: none;
	}
	
	#submenu-exploration #level-picker {
		margin-top: 2rem;
		justify-content: center;
		
		#picked-level {
			margin: 0 1rem;
		}
		#minus {
			line-height: 0.3em;
		}
	}
	#submenu-workouts {
		.btn {
			line-height: 1em;
		}
		span {
			opacity: 0.75;
		}
	}
	#submenu-settings {
		p#audio-mute-info {
			opacity: 0.6;
			margin-bottom: .3em;
		}
	}
}
#game-over-template,
#workout-complete-template {
	padding-top: 80px;
	
	h1 {
		font-family: "Annie Use Your Telescope", "Comic Sans MS", serif;
		text-align: center;
		text-transform: uppercase;
	}
	p {
		font-size: 1.2rem;
	}
	button {
		margin: 2em 0;
	}
}

#play-area {
	width: @width1;
	height: @height1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#number-container {
	width: auto; /* Set in JS */
	height: auto; /* Set in JS */
	z-index: 1;
	outline: none;
	outline-offset: -5px;
	font-size: 4rem;
	text-shadow: white 0 0 2px;
	background: @color0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	&.win {
		outline: solid 7px @color3;
		outline-offset: -5px;
		z-index: 2;
	}
	&.lose {
		outline: solid 7px @color4;
		outline-offset: -5px;
		z-index: 2;
	}
	
	p#number-to-guess {
		padding-bottom: .27em;
		font-family: "Cormorant Garamond", "Comic Sans MS", serif;
		&.shuffling {
			opacity: .2;
		}
	}
	
	#xp-container {
		position: absolute;
		right: 5px;
		height: calc(@height3 - 10px);
		width: 6%;
		overflow: hidden;
		
		#xp-bar {
			position: absolute;
			bottom: 0;
			right: 0;
			background: @color2;
			width: @width4;
			height: 0%;
			transition: height 0.5s ease-out;
		}
	}
}

#prime-container {
	height: @height1;
	width: @width1;
}

#feedback-container {
	width: 100%;
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	background: @color0;
	outline: white solid 1px;
	&.win {
		outline: @color3 solid 2px;
	}
	&.lose {
		outline: @color4 solid 2px;
	}
	
	p {
		font-size: 1.8rem;
		line-height: 1.8rem;
		padding: .8rem 2rem;
		color: white;
		
		span {
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}
}

.prime {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #031a25;
	outline: solid 1px rgba(255, 255, 255, 0.3);
	outline-offset: -3px;
	cursor: pointer;
	padding: 0px;
	height: auto; /* Set in JS */
	width: auto; /* Set in JS */
	
	&.hidden {
		display: none;
	}
	
	&:not([data-select-count="0"]) {
		z-index: 1;
		background: @color0;
		outline: solid 2px white;
		outline-offset: -4px;
	}	
	&:not([data-select-count="0"]):not([data-select-count="1"])::after {
		content: attr(data-select-count);
		color: white;
		font-size: 1.14286rem;
		font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
		padding-bottom: 1.14286rem;
		padding-left: 2px;
	}
	
	p {
		display: inline;
		font-family: "Cormorant Garamond", "Comic Sans MS", serif;
		font-size: 1.6rem;
		padding-bottom: .3em;
		color: white;
		vertical-align: middle;
		pointer-events: none;
	}
}

#menu {
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: @color0;
	cursor: pointer;
	outline: solid 0.5px rgba(255, 255, 255, 0.1);
	
	.bar {
		background: white;
		border-radius: 1px;
		width: 30px;
		height: 4px;
		position: absolute;
		left: 15px;
		transition: transform 200ms, height 200ms, left 150ms;
	}
	.bar-1 {
		top: 18px;
		transform-origin: 0 0;
	}
	.bar-2 {
		top: 28px;
		transition: height 200ms;
	}
	.bar-3 {
		top: 38px;
		transform-origin: 0 4px;
	}
	
	&.open {
		.bar {
			left: 21px;
		}
		.bar-1 {
			transform: rotate(45deg);
		}
		.bar-2 {
			height: 0;
			transition: height 0ms;
		}
		.bar-3 {
			transform: rotate(-45deg);
		}
	}
}

#info {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: calc(100% - 60px);
	height: 60px;
	background: @color0;
	border-bottom: solid 0.5px rgba(255, 255, 255, 0.1);
	
	p#info-content {
		font-family: "Annie Use Your Telescope", "Comic Sans MS", serif;
		font-size: 1.4rem;
		padding: 8px 1.5em;
		text-align: left;
		
		span {
			font-size: 1.9rem;
		}
	}
}
#step-bar-container {
	position: fixed;
	z-index: 10;
	top: 60px;
	left: 0;
	width: 100%;
	height: 8px;
	overflow: hidden;
	
	#step-bar {
		background: @color2;
		width: 0%; /* Set in JS */
		height: 100%;
		transition: width 0.5s ease-out;
	}
}

@keyframes shine {
	from { opacity: 0.2; }
	to { opacity: 1; }
}
	