@import "./variables.less";
@import "./modules/helpers.less";
@import "./modules/items.less";

* {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}
html {
	overflow: hidden;
}
body {
	background: var(--background-color);
	position: relative;
	overflow: auto;
	
	&.frozen {
		overflow-y: hidden;
	}
}
h1, h2, p, p::after {
	color: var(--text-color);
}
p {
	font-family: var(--text-font);
	margin: 0;
	text-align: center;
	user-select: none;
}

section.template {
	display: none;
	
	#screen-overlay & {
		display: inherit;
	}
}

#screen-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: var(--background-color);
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	
	&.hidden {
		display: none;
	}
}

#landing-template {
	height: 100%;
	width: 100%;
	
	#landing-content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		
		p.tap-to-play {
			font-size: 1.5rem;
			animation: shine 1s alternate infinite;
		}
	}
}
#menu-template {
	padding: 30px 0 60px;
	
	.menu-buttons .btn {
		margin: 5px 0;
	}
	
	#submenu-mode-selector {
		margin: 1em;
		
		#mode-change-buttons {
			justify-content: center;
			cursor: pointer;
		}
		
		p {
			font-size: 1.7rem;
			padding: 1rem .3rem;
		}
	}
	.submenu.hidden {
		display: none;
	}
	
	#submenu-exploration #level-picker {
		margin-top: 2rem;
		justify-content: center;
		
		#picked-level {
			margin: 0 1rem;
		}
		#minus {
			line-height: 0.3em;
		}
	}
	#submenu-workouts {
		.btn {
			line-height: 1em;
		}
		span {
			opacity: 0.75;
		}
	}
	#submenu-settings {
		.switch {
			margin-right: 15px;
		}
		.switch#theme-toggle.on {
			background-color: var(--purple-30);
		}
		span.version {
			color: rgba(255, 255, 255, .5)
		}
		#share-button {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			border: solid 1px var(--text-color);
			margin-right: 10px;
			cursor: pointer;

			p {
				line-height: 1em;
    			padding-top: 0.45em;
			}

			&:hover {
				background: var(--text-color);
				p {
					color: var(--background-color);
				}
				
			}
		}
		#qr img {
			width: 120px;
		}
	}
}
#game-over-template,
#workout-complete-template {
	padding-top: 80px;
	
	h1 {
		font-family: var(--text-font);
		text-align: center;
		text-transform: uppercase;
	}
	p {
		font-size: 1.2rem;
	}
	button {
		margin: 2em 0;
	}
}

#play-area {
	width: var(--main-size);
	height: var(--main-size);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px auto 60px;
}

#number-container {
	width: auto; /* Set in JS */
	height: auto; /* Set in JS */
	z-index: 1;
	outline: none;
	outline-offset: -5px;
	font-size: var(--main-font-size);
	text-shadow: var(--text-color) 0 0 1px;
	background: var(--container-color);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	&.win {
		outline: solid 7px var(--win-color);
		outline-offset: -5px;
		z-index: 2;
	}
	&.lose {
		outline: solid 7px var(--lose-color);
		outline-offset: -5px;
		z-index: 2;
	}
	
	p#number-to-guess {
		padding-bottom: .27em;
		font-family: var(--numbers-font);
		&.shuffling {
			opacity: .2;
		}
	}
	
	#xp-container {
		position: absolute;
		right: 5px;
		height: calc(100% - 10px);
		width: 6%;
		overflow: hidden;
		
		#xp-bar {
			position: absolute;
			bottom: 0;
			right: 0;
			background: var(--progression-bars-color);
			width: 100%;
			height: 0%; /* Set in JS */
			transition: height 0.5s ease-out;
		}
	}
}

#prime-container {
	height: var(--main-size);
	width: var(--main-size);
}

#feedback-container {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	background: var(--container-color);
	border-top: var(--outline-faintest);
	&.win {
		outline: var(--win-color) solid 2px;
	}
	&.lose {
		outline: var(--lose-color) solid 2px;
	}
	
	p {
		font-size: 1.8rem;
		line-height: 1.8rem;
		padding: .9rem 2rem;
		color: var(--text-color);
		
		span {
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}
}

.prime {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primes-background-color);
	outline: var(--outline-faintest);
	outline-offset: -3px;
	cursor: pointer;
	padding: 0px;
	height: auto; /* Set in JS */
	width: auto; /* Set in JS */
	
	&.hidden {
		display: none;
	}
	/* Selected once */
	&:not([data-select-count="0"]) {
		z-index: 1;
		background: var(--primes-selected-background-color);
		outline: var(--outline-thick);
		outline-offset: -4px;
	}
	/* Selected twice or more */
	&:not([data-select-count="0"]):not([data-select-count="1"])::after {
		content: attr(data-select-count);
		color: var(--primes-selected-text-color);
		font-size: calc(var(--main-font-size) / 3.5);
		font-family: var(--numbers-font);
		padding-bottom: calc(var(--main-font-size) / 3.5);
		padding-left: 2px;
	}
	
	p {
		display: inline;
		font-family: var(--numbers-font);
		font-size: calc(var(--main-font-size) / 2.5);
		padding-bottom: .3em;
		color: var(--primes-text-color);
		vertical-align: middle;
		pointer-events: none;
	}
	&:not([data-select-count="0"]) p {
		color: var(--primes-selected-text-color);
	}
}

#menu {
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: var(--container-color);
	cursor: pointer;
	outline: var(--outline-faintest);
	
	.bar {
		background: var(--text-color);
		border-radius: 1px;
		width: 30px;
		height: 4px;
		position: absolute;
		left: 15px;
		transition: transform 200ms, height 200ms, left 150ms;
	}
	.bar-1 {
		top: 18px;
		transform-origin: 0 0;
	}
	.bar-2 {
		top: 28px;
		transition: height 200ms;
	}
	.bar-3 {
		top: 38px;
		transform-origin: 0 4px;
	}
	
	&.open {
		.bar {
			left: 21px;
		}
		.bar-1 {
			transform: rotate(45deg);
		}
		.bar-2 {
			height: 0;
			transition: height 0ms;
		}
		.bar-3 {
			transform: rotate(-45deg);
		}
	}
}

#info {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: calc(100% - 60px);
	height: 60px;
	background: var(--container-color);
	border-bottom: var(--outline-faintest);
	
	p#info-content {
		font-family: var(--text-font);
		font-size: 1.4rem;
		padding: 8px 1.5em;
		text-align: left;
		
		span {
			font-size: 1.9rem;
		}
	}
}
#step-bar-container {
	position: fixed;
	z-index: 10;
	top: 60px;
	left: 0;
	width: 100%;
	height: 8px;
	overflow: hidden;
	
	#step-bar {
		background: var(--progression-bars-color);
		width: 0%; /* Set in JS */
		height: 100%;
		transition: width 0.5s ease-out;
	}
}

@keyframes shine {
	from { opacity: 0.2; }
	to { opacity: 1; }
}
